$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.create {
  padding: 1rem 0;
}

.form__create {
  padding: 1rem;
  &__title-group {
    display: flex;
    gap: 1rem;
    input {
      width: 100%;
      height: 2.5rem;
      padding: 0.25rem 1rem;
      border-radius: 2.5rem;
    }
  }

  &__image-group {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__clear-btn {
      position: absolute;
      z-index: 12;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      right: 0.5rem;
      top: 0.5rem;
      color: #9b9b9b;
      &:hover {
        color: whitesmoke;
        background-color: $background-input;
      }
    }
  }

  &__upload-group {
    display: flex;
    justify-content: center;
    height: 2.5rem;
  }

  .image-upload {
    width: 33%;
    position: relative;
    input[type="file"] {
      opacity: 100;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
      opacity: 0;
    }
    .custom-file-upload {
      cursor: pointer;
      width: 100%;
      height: 100%;
      background-color: $background-nav;

      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      z-index: 9;
    }

    input:hover ~ .custom-file-upload {
      background-color: $background-input;
    }
  }

  &__post {
    border-radius: 5px;
    height: 2rem;
    font-family: $font-secondary;
    &:hover {
      background: $background-input;
    }
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: $white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
