$nav-offset: 6px;

.nav {
  display: flex;
  z-index: 10;
  height: 56px;
  padding: $nav-offset 1rem;
  color: white;
  background: $background-nav;
  position: fixed;
  justify-content: space-between;
  width: 100vw;
  border-bottom: 1px solid rgb(53, 53, 53);
  &__left {
    position: relative;
    width: 280px;
    .logo {
      position: relative;
      height: calc(56px - $nav-offset * 2);
      width: calc(56px - $nav-offset * 2);
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      filter: invert(100);
      :hover {
        filter: opacity(0.9);
      }
    }

    &__serchbox {
      flex: 1;
      padding-left: 0.3rem;
      input {
        height: calc(56px - $nav-offset * 2);
        border-radius: 40px;
        width: 100%;
        padding: 0 calc($nav-offset * 2);
      }
      ul {
        width: 280px;
        position: absolute;
        background-color: $background-nav;
        top: calc(56px - $nav-offset - 1px);
        border-radius: 0 0 5px 5px;
        list-style: none;
        left: 0;
        li {
          display: flex;
          height: calc(56px - $nav-offset);
          margin-left: -40px;
          padding: calc($nav-offset * 2);
          overflow: hidden;
          align-items: center;
          gap: $nav-offset;

          &:hover {
            background-color: $background-input;
          }
          &:last-child {
            border-radius: 0 0 5px 5px;
          }
          .photo__li {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }

  &__middle {
    display: block;
    @media only screen and (max-width: 960px) {
      display: none;
    }
  }

  &__right {
    position: relative;
    width: 280px;
    padding-right: 1rem;
    gap: $nav-offset;
    justify-content: flex-end;
    align-items: center;
    display: flex;

    &__profile {
      gap: $nav-offset;
      display: flex;
      align-items: center;
      display: flex;
      cursor: pointer;
      &__photo {
        position: relative;
        height: 2rem;
        width: 2rem;
        img {
          border-radius: 2rem;
        }
      }
      border-radius: 2rem;
      padding: 3px 0.5rem 3px 3px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    &__group {
      gap: $nav-offset;
      display: flex;
      align-items: center;
    }
  }
}
